body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(-45deg, #6118aa, #350404, #042436, #11a719);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: white;
} 

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-img {
  max-width: 100%;
  border: 10px solid #28a745;
  border-radius:50px;
  object-fit: cover;
}

.list2 {
  padding-left: 10%;
  list-style-type: none;
}

/* Optional Bubble Effect */
.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: float 10s infinite ease-in;
}

.bubble:nth-child(1) {
  left: 10%;
  animation-duration: 25s;
}
.bubble:nth-child(2) {
  left: 30%;
  width: 60px;
  height: 60px;
  animation-duration: 18s;
}
.bubble:nth-child(3) {
  left: 50%;
  width: 15px;
  height: 15px;
  animation-duration: 22s;
}
.bubble:nth-child(4) {
  left: 70%;
  width: 80px;
  height: 80px;
  animation-duration: 30s;
}
.bubble:nth-child(5) {
  left: 90%;
  animation-duration: 20s;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: red;
  z-index: 9999;
  pointer-events: none;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--dx), var(--dy)) scale(0.7);
  }
}

.card {
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(39, 214, 80, 0.4);
}

.custom-navbar {
  background-color: #40105c !important; /* dark blue tone */
  padding-top: 0.3rem;
  padding-bottom: 0.3re
}

.custom-navbar .navbar-brand samp {
  font-size: 1.4rem; /* slightly smaller */
  line-height: 1.2;
}

.custom-navbar small {
  font-size: 0.7rem;
  line-height: 1;
}

.custom-navbar .nav-link {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
}
